.rest_contacts {
  position: relative;
  font-family: 'PT Serif', serif;
  text-align: center;
  border-radius: 5px;
}

.rest_contacts_home {
  margin-top: 30px;
  background: #45312b;
  color: #d4b58e;
  font-size: 42px;
  line-height: 38px;
  padding: 20px 0;
}

.rest_contacts_side {
  background: #d4b58e;
  color: #45312b;
  font-size: 22px;
  line-height: 22px;
  padding: 10px 0;
  margin-bottom: 30px;
}

.rest_contacts div {
  position: relative;
  display: block;
}

.rest_contacts_home div {
  font-size: 58px;
  line-height: 70px;
}

.rest_contacts_side div {
  font-size: 32px;
  line-height: 36px;
}

.rest_contacts span {
  display: block;
}

.rest_contacts_home span {
  font-size: 34px;
  padding-bottom: 15px;
}

.rest_contacts_side span {
  font-size: 18px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1100px) {
  .rest_contacts_home {
    font-size: 22pt;
    line-height: 22pt;
    padding: 20px 0;
  }
  .rest_contacts_home div {
    font-size: 30pt;
    line-height: 38pt;
  }
  .rest_contacts span {
    font-size: 18pt;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 400px) {
  .rest_contacts {
    background: rgba(212, 148, 142, 0.1);
    font-size: 18pt;
    line-height: 18pt;
    padding: 20px 0;
  }
  .rest_contacts div {
    font-size: 26pt;
    line-height: 32pt;
  }
  .rest_contacts span {
    font-size: 16pt;
    padding-bottom: 5px;
  }
}
