.hotel_contacts {
  position: relative;
  font-family: 'PT Serif', serif;
  text-align: center;
  padding: 20px 0;
  border-radius: 5px;
}

.hotel_contacts_home {
  margin-top: 5px;
  background: #d4b58e;
  color: #45312b;
  font-size: 42px;
  line-height: 38px;
  padding: 20px 0;
}

.hotel_contacts_side {
  color: #efdec4;
  font-size: 28px;
  line-height: 30px;
}

.hotel_contacts div {
  position: relative;
  display: block;
}

.hotel_contacts_home div {
  font-size: 58px;
  line-height: 70px;
}

.hotel_contacts_side div {
  font-size: 38px;
  line-height: 40px;
}

.hotel_contacts span {
  display: block;
}

.hotel_contacts_home span {
  font-size: 24px;
  color: #7a5b4e;
  line-height: 24px;
}

.hotel_contacts_side span {
  font-size: 16px;
  color: #cbb48f;
  line-height: 20px;
}

.c8800 {
  position: relative;
  margin-top: 10px;
}

.c8800_home {
  border-top: 1px solid #7a5b4e;
  color: #7a5b4e;
}

.c8800_side {
  border-top: 1px solid #42342f;
  color: #cbb48f;
}

@media screen and (max-width: 1100px) {
  .hotel_contacts {
    background: #d4b58e;
    font-size: 18pt;
    line-height: 18pt;
    padding: 20px 0;
  }
  .hotel_contacts div {
    font-size: 26pt;
    line-height: 32pt;
  }
  .hotel_contacts span {
    font-size: 12pt;
    line-height: 24px;
  }
  .c8800 {
    position: relative;
    margin-top: 10px;
    border-top: 1px solid #7a5b4e;
    color: #7a5b4e;
  }
}

@media screen and (max-width: 400px) {
  .hotel_contacts {
    background: #d4b58e;
    font-size: 18pt;
    line-height: 18pt;
    padding: 20px 0;
  }
  .hotel_contacts div {
    font-size: 26pt;
    line-height: 32pt;
  }
  .hotel_contacts span {
    font-size: 12pt;
    line-height: 24px;
  }
  .c8800 {
    position: relative;
    margin-top: 10px;
    border-top: 1px solid #7a5b4e;
    color: #7a5b4e;
  }
}
