.part {
  position: relative;
  display: block;
  min-height: 800px;
  width: 50%;
  overflow: hidden;
  float: left;
}

.partbody {
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
}
