@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Serif&subset=latin,cyrillic-ext);

document, body {
    background: #45312b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #FFF;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Serif', serif;
	font-weight:400;
	color:#f6dfc4;
}

h1 {
	font-family: 'PT Serif', serif;
	font-size:28pt;
	line-height:28pt;
	margin-bottom:20px;
}

a {
color:#ffc0d2;
text-decoration:underline;
}

a:hover {
color:#fff;
text-decoration:none;
}

.body {
	position:relative;
	display:block;
	width:100%;
	max-width:1920px;
	min-width:900px;
	overflow:hidden;
	margin:0 auto;
	background:url("/images/common/pattern.png");
}
