@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Serif&subset=latin,cyrillic-ext');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/*------ Знак рубля ------*/

span.rur {
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase; /* text-transform: none;*/
}

span.rur span {
  position: absolute;
  overflow: hidden;
  width: .45em;
  height: 1em;
  margin: .2ex 0 0 -.55em; /* display: none;*/
}

span.rur span:before {
  content: '\2013';
}

/*-----------------------*/

.body, .body_home {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1920px;
  min-width: 900px;
  overflow: hidden;
  margin: 0 auto;
}

.field {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.required label::after {
  content: " *";
  color: red;
}

.form-input {
  border-color: #d9d9d9 #ccc #b3b3b3;
  color: #333;
  border-radius: 4px;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border: 1px solid #ccc;
  display: block;
  height: 33px;
  width: calc(100% - 1.2rem);
  font-size: 1em;
  background-color: #fff;
}

.form-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(69, 49, 43, 0.6);
  border: 1px solid #45312b;
  border-radius: 10px;
  box-shadow: 0 20px 28px rgba(0,0,0,0.55), 0 10px 10px rgba(0,0,0,0.22);
}

.fold {
  position: absolute;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position-y: 700px;
}

.fold_home {
  left: 0;
  right: 0;
  background-position-x: center;
}

.fold_side {
  left: 0;
  right: -193px;
  background-position-x: right;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

document, body {
  background: #45312b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #FFF;
}

.p1 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.p2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.l_grad {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  /*overflow:hidden;*/
}

.r_grad {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  /*overflow:hidden;*/
}

.shade, .light {
  display: block;
  overflow: hidden;
}

.light {
  padding: 37px 25px 50px 0;
  margin-left: 50px;
}

.shade {
  padding: 37px 0 50px 25px;
  margin-right: 50px;
}

.off {
  position: absolute;
  display: block;
  width: 155px;
  height: 149px;
  right: 0;
  top: 0;
  z-index: 5;
  background: url(/images/finish.png) no-repeat;
}

.off a {
  position: absolute;
  bottom: 5px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #45312b;
  text-align: center;
}

.off a:hover {
  text-decoration: none;
}

.s {
  font-family: 'PT Serif', serif;
  color: #f9b89c;
  font-size: 36px;
}

.tur_btn {
  position: absolute;
  display: block;
  width: 150px;
  height: 66px;
  background-position: center top;
}

.tur_btn:hover {
  background-position: center bottom;
}

/*==============================*/

.partbody {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.partbody_home {
  max-width: 640px;
}

.content {
  position: relative;
  margin-right: 375px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  color: #f6dfc4;
}

h1 {
  font-family: 'PT Serif', serif;
  font-size: 28pt;
  line-height: 28pt;
  margin-bottom: 20px;
}

a {
  color: #ffc0d2;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.room_info_block {
  position: relative;
  float: left;
  width: 305px;
  overflow: hidden;
}

.room_preview_img {
  position: relative;
  display: block;
  width: 300px;
  height: 210px;
  margin-bottom: 20px;
  background: #933;
  border: 2px solid #45312b;
  border-radius: 5px;
  overflow: hidden;
}

.room_summ {
  position: relative;
  display: block;
  margin-top: 5px;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  color: #f6dfc4;
}

.room_text {
  position: relative;
  margin-left: 340px;
}

.room_text h1 {
  font-family: 'PT Serif', serif;
  font-size: 28pt;
  line-height: 28pt;
  font-weight: 400;
  color: #f6dfc4;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .fold {
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    background: url(/images/pagelogo.png) center no-repeat, rgba(212, 181, 142, 0.5);
  }
  .fold_home {
    background-image: none;
  }
  .body {
    min-width: 300px;
  }
  .body_home {
    min-width: 300px;
    background-image: none;
  }
  .partbody {
    width: 100%;
    overflow: hidden;
  }
  .partbody_home {
    max-width: 1100px;
  }
  .shade, .light {
    display: block;
    overflow: hidden;
  }
  .light {
    padding: 37px 25px 25px 25px;
    margin-left: 0;
  }
  .shade {
    padding: 37px 25px 25px 25px;
    margin-right: 0;
  }
  .column .deliver_block, .news_block_side, .room_catalog_side, .ost_rooms, .p1, .p2 {
    display: none;
  }
  .content {
    position: relative;
    margin-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .p1, .p2 {
    
  }
  .light {
    padding: 37px 2px 25px 2px;
    margin-left: 0;
  }
  .shade {
    padding: 37px 2px 25px 2px;
    margin-right: 0;
  }
}
