@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Serif&subset=latin,cyrillic-ext);
/*------ Знак рубля ------*/

span.rur {
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase; // text-transform: none;
}

span.rur span {
  position: absolute;
  overflow: hidden;
  width: .45em;
  height: 1em;
  margin: .2ex 0 0 -.55em; // display: none;
}

span.rur span:before {
  content: '\2013';
}

/*-----------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

document, body {
  background: #45312b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #FFF;
}

.p1 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.p2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.l_grad {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  /*overflow:hidden;*/
}

.r_grad {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  /*overflow:hidden;*/
}

.shade, .light {
  display: block;
  overflow: hidden;
}

.light {
  padding: 37px 25px 50px 0;
  margin-left: 50px;
}

.shade {
  padding: 37px 0 50px 25px;
  margin-right: 50px;
}

.off {
  position: absolute;
  display: block;
  width: 155px;
  height: 149px;
  right: 0;
  top: 0;
  z-index: 5;
  background: url(/images/finish.png) no-repeat;
}

.off a {
  position: absolute;
  bottom: 5px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #45312b;
  text-align: center;
}

.off a:hover {
  text-decoration: none;
}

.s {
  font-family: 'PT Serif', serif;
  color: #f9b89c;
  font-size: 36px;
}

.tur_btn {
  position: absolute;
  display: block;
  width: 150px;
  height: 66px;
  background: url(/images/3dbutton_mini.png) no-repeat;
  background-position: center top;
}

.tur_btn:hover {
  background-position: center bottom;
}

/*==============================*/

.partbody {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.partbody_home {
  max-width: 640px;
}

.content {
  position: relative;
  margin-right: 375px;
}

.breadcrumbs {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 0;
  margin-bottom: 30px;
  background: rgba(69, 49, 43, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  color: #f6dfc4;
}

h1 {
  font-family: 'PT Serif', serif;
  font-size: 28pt;
  line-height: 28pt;
  margin-bottom: 20px;
}

a {
  color: #ffc0d2;
  text-decoration: underline;
}

a:hover {
  color: #fff;
  text-decoration: none;
}
