@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Serif&subset=latin,cyrillic-ext);
/*------ Знак рубля ------*/
span.rur { font-family: "Times New Roman", Times, serif; text-transform: uppercase; // text-transform: none;}
span.rur span { position: absolute; overflow: hidden; width: .45em; height: 1em; margin: .2ex 0 0 -.55em; // display: none; }
span.rur span:before { content: '\2013'; }
/*-----------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

document, body {
	background:#45312b;

	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:22px;
	color:#FFF;
}

a {
color:#ffc0d2;
text-decoration:underline;
}

a:hover {
color:#fff;
text-decoration:none;
}

img {
	/*margin:10px 0;*/
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Serif', serif;
	font-weight:400;
	color:#f6dfc4;
}
h1 {
	font-family: 'PT Serif', serif;
	font-size:28pt;
	line-height:28pt;

	margin-bottom:20px;
}


.body {
	position:relative;
	display:block;
	width:100%;
	max-width:1920px;
	min-width:900px;
	overflow:hidden;
	margin:0 auto;

	background:url(../img/pattern.png);
}

#logo {
	position:absolute;
	display:block;
	width:297px;
	height:247px;
	margin-left:50%;
	left:-148px;
	top:115px;

	background:url(../img/pagelogo.png) no-repeat;
}

.mainmenu {
	position:absolute;
	width:100%;
	top:35px;
	/*overflow:hidden;*/

	background:#45312b;
}
.menubody {
	position:relative;
	display:block;
	width:100%;
	max-width:1280px;
	min-width:1100px;
	margin:0 auto;
	/*overflow:hidden;*/
	overflow:visible;

	background:url(../img/pattern.png);
}

#menu-btn {
	position:absolute;
	display:none;
	width:40px;
	height:40px;
	overflow:hidden;

	right:-40px;
	top:0;


}
	#menu-btn div {
		position:absolute;
		display:block;
		background:#f0d8be;
		width: 36px;
		height:4px;
		width:36px;
		left:2px;

		border-radius:2px;
		-o-border-radius:2px;
		-ms-border-radius:2px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
	}
	#mn1 {top:7px;}
	#mn2 {top:50%; margin-top:-2px;}
	#mn3 {bottom:7px;}

ul.mmenu {
	position:relative;
	display:block;
	text-align:center;
	margin:0 auto;
	height:40px;
	overflow:visible;

	list-style:none;
}
ul.mmenu li {
	position:relative;
	display:inline-block;
	margin:0 5px;
	height:40px;
	overflow:visible;

	border-left:1px solid rgba(0,0,0,0);
	border-right:1px solid rgba(0,0,0,0);
}
ul.mmenu li:hover {
	background:#45312b;
	border-left:1px solid #f0d8be;
	border-right:1px solid #f0d8be;
}
	ul.mmenu li a {
		font-family: 'PT Sans Narrow', sans-serif;
		font-size:23px;
		line-height:40px;
		font-weight:400;
		text-decoration:none;
		color:#f0d8be;
		text-shadow:-1px -1px 0 #563e31;

		display:block;
		padding:0 5px;
		height:40px;

		border-left:1px solid rgba(0,0,0,0);
		border-right:1px solid rgba(0,0,0,0);
	}
	ul.mmenu li a:hover {
		/*background:#45312b;
		border-left:1px solid #f0d8be;
		border-right:1px solid #f0d8be;*/
	}

ul.sub {
	display:none;
	position:absolute;
	padding:10px;
	list-style:none;
	margin-left:-1px;

	background:#45312b;
	border-bottom:1px solid #f0d8be;
	border-left:1px solid #f0d8be;
	border-right:1px solid #f0d8be;
}

ul.sub li {
	display:block;
	text-align:left;
	white-space:nowrap;
	height:auto;
	padding:0;
}
ul.sub li:hover {
	background:#45312b;
	border-left:1px solid rgba(0,0,0,0);
	border-right:1px solid rgba(0,0,0,0);
}

ul.sub li a {
	font-size:20px;
}

ul.sub li a:hover {
	border-bottom:2px solid #f0d8be;
	color:#FFF;
}



.p1 {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background:url(../img/lg.png) repeat-y left;
}
.p2 {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background:url(../img/rg.png) repeat-y right;
}

.l_grad {
	position:absolute;
	width:100%;
	height:100%;
	display:block;
	/*overflow:hidden;*/

	background:url(../img/lg.png) repeat-y left;
}

.r_grad {
	position:absolute;
	width:100%;
	height:100%;
	display:block;
	/*overflow:hidden;*/

	background:url(../img/rg.png) repeat-y right;
}

.content {
	position:relative;
	margin-right:375px;
}

.column {
	position:relative;
	width:375px;
	float:right;
}



.slogan {
	position:absolute;
	text-align:center;
	width:280px;
	margin-left:50%;
	left:-140px;
	bottom:150px;
}
.slogan a {
	position:relative;
	display:block;
	font-size:28px;
	line-height:42px;
	font-family: 'PT Sans Narrow', sans-serif;
	text-decoration:none;
	color:#46322b;

	text-shadow:1px 1px 0 #ffe5d0;
}
.slogan a:hover {
	color:#000;
}



.header {
	position:relative;
	display:block;
	width:100%;
	height:700px;

	overflow:hidden;

	border-bottom:1px solid #d4b58e;
}
	.h_img {
		position:relative;
		display:block;
		width:100%;
		height:100%;

		text-align:center;
	}
	.h_img img {
		position:absolute;
		margin-left:50%;
		left:-960px;
		height:100%;
	}

	.h_column {
		position:relative;
		display:block;
		width:100%;
		height:100%;
		background:#e0caa7 url(../img/c_bg.png);
	}

	.leaf {
		position:relative;
		display:block;
		width:100%;
		height:100%;
		background:url(../img/leaf.png) no-repeat left 75px;
	}

.h_title {
	position:absolute;
	width:100%;
	height:75px;
	bottom:50px;

	background:#45312b;
}
.h_title_bg {
	position:relative;
	display:block;
	width:100%;
	margin:0 auto;
	overflow:hidden;

	background:url(../img/pattern.png) right;
}
.h_title_left, .h_title_right {
	position:relative;
	display:block;
	width:100%;
	height:100%;

	text-decoration: none;

	text-align:center;
	font-family: 'PT Serif', serif;
	color:#f6dfc4;
	font-size:35px;
	line-height:75px;

	text-shadow:-2px -2px 0 #45312b;
}
.h_title_left {background:url(../img/light.png) right top repeat-y;}
.h_title_right {background:url(../img/shade.png) left top repeat-y;}
.h_title_left:hover, .h_title_right:hover {color:#fff;}

.partbody {
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
}

.shade, .light {
	display:block;
	overflow:hidden;
}
.light {
	padding:37px 25px 50px 0;
	margin-left:50px;
}
.shade {
	padding:37px 0 50px 25px;
	margin-right:50px;
}
.fold {
	position:absolute;
	top:0;
	left:0;
	right:-193px;
	bottom:0;

	background:url(../img/fold.png) no-repeat right 700px;
}



.deliver_block {
	position:relative;
	display:block;
	width:298px;
	height:175px;

	overflow:hidden;

	background:#45312b;

	border:1px solid #d4b58e;

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	margin-bottom:30px;
}
.deliver-img {
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	backgrount-position:center;
	animation-duration: 0.5s;
}
.d_title {
	position:absolute;
	width:100%;
	bottom:20px;
	background:rgba(69,49,43,0.7);

	font-family: 'PT Serif', serif;
	font-size:32px;
	line-height:50px;
	text-align:center;
	color:#d4b58e;
}


.news_block {
	position:relative;
	margin-bottom:30px;
}

.news_title {
	position:relative;
	display:block;
	width:100%;
	height:35px;

	background:#d4b58e;

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	text-align:center;

	margin-bottom:10px;
}
.news_title a {
	font-family: 'PT Serif', serif;
	font-size:24px;
	line-height:35px;

	color:#45312b;
	text-decoration:underline;
}
.news_title a:hover {
	text-decoration:none;
	color:#000;
}

.new {
	position:relative;
	clear:both;
	margin-bottom:20px;
	overflow:hidden;
}

.n_foto {
	position:relative;
	display:block;
	width:100px;
	height:100px;

	background:#933;

	border:1px solid #d4b58e;

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	float:left;

	overflow:hidden;
}

.n_body {
	margin-left:120px;
}

.n_date {
	position:absolute;
	height:27px;
	width:100px;
	top:110px;
	left:0;

	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	line-height:27px;
	color:#ffc5af;
	text-align:center;
}

.n_title {
	position:relative;

	font-family: 'PT Serif', serif;
	font-size:24px;
	line-height:24px;

	color:#f6dfc4;

	margin-bottom:8px;
}
.n_title a {
	font-family: 'PT Serif', serif;
	font-size:24px;
	line-height:24px;

	color:#f6dfc4;

	text-decoration:underline;
}
.n_title a:hover {
	text-decoration:none;
	 color:#fff;
}

.n_ttx {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:18px;
	color:#FFF;
}

.new_end {
	position:relative;
	display:block;
	width:100%;
	height:23px;

	border-top:1px solid #f6dfc4;

	background:url(../img/bottom_shade.png) no-repeat;
}



.rest_contacts {
	position:relative;

	background:#d4b58e;

	font-family: 'PT Serif', serif;
	text-align:center;
	color:#45312b;

	font-size:22px;
	line-height:22px;

	padding:10px 0;

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	margin-bottom:30px;
}
.rest_contacts div {
	position:relative;
	display:block;
	font-size:32px;
	line-height:36px;
}
.rest_contacts span {
	display:block;
	font-size:18px;

	padding-bottom:10px;
}


.room_catalog {
	position:relative;
	margin-bottom:10px;
}

.room {
	position:relative;
	overflow:hidden;

	background:#45312b;

	margin-bottom:10px;

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.r_img {
	position:relative;
	display:block;
	width:210px;
	height:150px;

	background:#933;

	border:2px solid #45312b;

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	float:left;

	margin-right:25px;

	overflow:hidden;
}

.r_body {
	margin:0 15px;
}

.r_title {
	position:relative;

	font-family: 'PT Serif', serif;
	font-size:24px;
	line-height:24px;

	color:#f6dfc4;

	margin-bottom:0px;
	margin-top:10px;
}
.r_title a {
	font-family: 'PT Serif', serif;
	font-size:24px;
	line-height:24px;

	color:#f6dfc4;

	text-decoration:underline;
}
.r_title a:hover {
	text-decoration:none;
	 color:#fff;
}

.r_ttx {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:18px;
	color:#FFF;
}

.r_summ {
	position:relative;
	display:block;
	margin-top:5px;

	color:#f6dfc4;
}
.s {
	font-family: 'PT Serif', serif;
	color:#f9b89c;
	font-size:36px;
}





.ost_rooms {
	position:relative;
	display:block;
	clear:both;
	font-size:30px;
	text-align:center;

	font-family: 'PT Serif', serif;

	margin-bottom:20px;
}
.ost_end {
	position:relative;
	display:block;
	width:100%;
	height:23px;
	margin-top:10px;

	border-top:1px solid #f6dfc4;

	background:url(../img/bottom_shade_r.png) no-repeat;
}
.rn {
	position:relative;
	display:inline-block;
	font-size:100px;
	line-height:40px;
	color:#eaae93;
	text-align:right;

	margin-right:20px;
}
.rntxt {
	position:relative;
	display:inline-block;
	line-height:45px;
	color:#f6dfc4;
}


.hotel_contacts {
	position:relative;

	font-family: 'PT Serif', serif;
	text-align:center;
	color:#efdec4;

	font-size:28px;
	line-height:30px;

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.hotel_contacts div {
	position:relative;
	display:block;
	font-size:38px;
	line-height:40px;
}
.hotel_contacts span {
	display:block;
	font-size:16px;
	color:#cbb48f;
	line-height:20px;
}
.c8800 {
	position:relative;
	margin-top:10px;
	border-top:1px solid #42342f;

	color:#cbb48f;
}



.povar_block {
	position:relative;
	display:block;
	clear:both;
	width:100%;
	overflow:hidden;

	margin-top:30px;

	margin-bottom:40px;
}

.povar_line {
	position:relative;
	display:block;
	width:100%;
	height:220px;

	margin-top:65px;

	background:#45312b;

	overflow:visible;
}

.povar_info {
	position:absolute;
	display:block;
	height:100%;
	width:40%;
	max-width:700px;

	right:60%;

	overflow:visible;

	background:url(../img/povar_light.png) no-repeat left bottom;
}

.povar_ava {
	position:relative;
	float:left;
	margin-top:-65px;
	margin-left:50px;
}

.povar_txt {
	margin:20px 0 20px 10px;

	color:#FFF;
	font-size:18px;
}
.povar_txt a {
	display:block;
	font-family: 'PT Serif', serif;
	color:#d4b58e;
	font-size:34px;
	line-height:34px;
	margin-bottom:20px;
	text-decoration:underline;
}
.povar_txt a:hover {
	text-decoration:none;
	color:#FFF;
}


.povar_bludo {
	position:absolute;
	display:block;
	width:60%;
	max-width:800px;
	height:100%;

	left:40%;
}

.pb_img {
	position:relative;
	display:block;
	width:330px;
	height:220px;

	float:left;

	background:#933;
}
.pb_img_l {
	position:absolute;
	display:block;
	width:69px;
	height:220px;

	top:0;
	left:0;

	background:url(../img/shef_igol_1.png) no-repeat;
}
.pb_img_r {
	position:absolute;
	display:block;
	width:69px;
	height:220px;

	top:0;
	right:0;

	background:url(../img/shef_igol_2.png) no-repeat;
}

.pb_txt {
	color:#000;
	font-size:18px;

	position:relative;
	height:100%;
	margin-left:330px;
	margin-right:99px;

	background:-moz-linear-gradient(left, #dabf9d, #f9f5ef);
	background:-webkit-linear-gradient(left, #dabf9d, #f9f5ef);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#dabf9d',endColorstr='#f9f5ef',GradientType=0); zoom: 1;
	background:linear-gradient(left, #dabf9d, #f9f5ef);
}
.pb_txt div {
	padding:20px 0 20px 10px;
}
.pb_txt a {
	display:block;
	font-family: 'PT Serif', serif;
	color:#45312b;
	font-size:34px;
	line-height:34px;
	margin-bottom:20px;
	text-decoration:underline;
}
.pb_txt a:hover {
	text-decoration:none;
	color:#FFF;
}

.pb_end {
	position:relative;
	display:block;
	width:98px;
	height:220px;

	float:right;
	margin-right:10px;

	background:url(../img/shef_igol_3.png) no-repeat;
}

.m_photo {
	position:relative;
	display:block;
	width:50%;
	height:100%;
	float:left;
	overflow:hidden;

	background:#900;
}
.m_photo img {
	position:absolute;
	height:100%;
	right:0;
}

.map_block {
	position:relative;
	display:block;
	width:100%;
	height:470px;
	clear:both;

	background:#933;

	border-top:2px solid #fff;
	border-bottom:6px solid #45302b;
}

.map {
	position:relative;
	display:block;
	width:50%;
	height:100%;
	float:left;
	overflow:hidden;

	background:#903;
}

.map img {
	position:absolute;
	height:100%;
	left:0;
}

.adress {
	position:absolute;
	display:block;
	width:100%;
	overflow:hidden;
	top:25px;

	background:url(../img/pattern.png);
}

.adr_txt {
	position:relative;
	display:block;
	width:100%;
	height:45px;

	font-family: 'PT Serif', serif;
	font-size:28px;
	line-height:45px;
	color:#ffe7c0;

	text-align:center;
}



.footer {
	position:relative;
	display:block;
	width:100%;
	height:145px;
}

.social {
	position:absolute;
	height:40px;
	left:50px;
	top:50%;
	margin-top:-20px;
}

a.soc {
	position:relative;
	display:block;
	width:40px;
	height:40px;
	margin-left:20px;
	float:left;
}
	a.soc:hover {
		background-position:center -40px !important;
	}
.tw {background:url(../img/tw.png) no-repeat top;}
.vk {background:url(../img/vk.png) no-repeat top;}
.fb {background:url(../img/fb.png) no-repeat top;}
.ig {background:url(../img/ig.png) no-repeat top;}
.gp {background:url(../img/g+.png) no-repeat top;}
.ok {background:url(../img/ok.png) no-repeat top;}
.yt {background:url(../img/yt.png) no-repeat top;}

.inn {
	position:absolute;
	width:100%;
	text-align:left;
	bottom:5px;

	color:#f4ddbf;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.inn div {
	margin-left:30px;
}

.evrika {
	position:absolute;
	right:30px;
	top:30px;
	text-align:center;

	color:#f4ddbf;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.evrikalogo {
	position:relative;
	display:inline-block;
	width:80px;
	height:53px;

	margin-top:10px;

	background:url(../img/evlogo.png) no-repeat;
}





.breadcrumbs {
	position:relative;
	display:block;

	font-size:16px;
	line-height:20px;

	padding:5px 0;
	margin-bottom:30px;

	background:rgba(69, 49, 43, 0.7);;

	font-family:Arial, Helvetica, sans-serif;

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.breadcrumbs a {
	color:#f6dfc4;
	text-decoration:none;

	margin:0 10px;
}
.breadcrumbs a:hover {
	color:#bba080;
	text-decoration:underline;
}
.breadcrumbs span {
	color:#bba080;
}


.room_list {
	position:relative;
	overflow:hidden;

	background:rgba(69, 49, 43, 0.6);

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	margin-bottom:20px;
}
.room_list:hover {
	background:rgba(69, 49, 43, 0.9);
}

.room_list_img {
	position:relative;
	display:block;
	width:260px;
	height:170px;

	margin:2px;

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	background:#933;

	float:left;

	overflow:hidden;
}

.room_list_title {
	position:relative;

	font-family: 'PT Serif', serif;
	font-size:24px;
	line-height:24px;

	color:#f6dfc4;

	margin:15px 0;
}
.room_list_title a {
	font-family: 'PT Serif', serif;
	font-size:30px;
	line-height:30px;

	color:#f6dfc4;

	text-decoration:underline;
}
.room_list_title a:hover {
	text-decoration:none;
	 color:#fff;
}

.room_list_txt {
	margin-left:280px;
}

.room_empty {
	bottom:2px;
	padding:3px 8px;
	overflow:hidden;

	font-family: 'PT Serif', serif;
	color:#f6dfc4;

	background:rgba(69, 49, 43, 1);

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.re_num {
	position:relative;
	float:left;
	margin-right:8px;

	font-size:32px;
	line-height:30px;
}
.re_txt {
	position:relative;
	float:left;

	font-size:14px;
	line-height:14px;
}


.room_info_block {
	position:relative;
	float:left;
	width:305px;
	overflow:hidden;
}

.room_preview_img {
	position:relative;
	display:block;
	width:300px;
	height:210px;
	margin-bottom:20px;

	background:#933;

	border:2px solid #45312b;

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	overflow:hidden;
}

.room_summ {
	position:relative;
	display:block;
	margin-top:5px;
	font-family: 'PT Serif', serif;
	font-size:20px;

	color:#f6dfc4;
}

.summ {
	color:#f9b89c;
	font-size:45px;
}

.room_text {
	position:relative;
	margin-left:340px;
}
.room_text h1 {
	font-family: 'PT Serif', serif;
	font-size:28pt;
	line-height:28pt;
	font-weight:400;

	color:#f6dfc4;

	margin-bottom:20px;
}

.room_gallery {
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;

	text-align:center;
}

.gallery_title {
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
	padding:3px 0;
	margin-bottom:10px;

	background:rgba(69, 49, 43, 0.7);

	clear:both;

	font-family: 'PT Serif', serif;
	font-size:18px;
	line-height:26px;

	color:#f6dfc4;

	text-align:center;

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.gal_img {
	position:relative;
	display:inline-block;
	width:122px;
	height:122px;

	margin:10px;

	background:#933;

	border:2px solid #45312b;

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	overflow:hidden;
}

.gal_img:hover {
	border:2px solid #f6dfc4;
}


.page_date {
	position:relative;
	margin-bottom:10px;
	padding-right:10px;

	font-size:18px;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FCC;
	text-align:right;

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	background:-moz-linear-gradient(left, rgba(69,49,43,0.3), rgba(69,49,43,0.8));
	background:-webkit-linear-gradient(left, rgba(69,49,43,0.3), rgba(69,49,43,0.8));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='rgba(69,49,43,0.3)',endColorstr='rgba(69,49,43,0.8)f',GradientType=0); zoom: 1;
	background:linear-gradient(left, rgba(69,49,43,0.3), rgba(69,49,43,0.8));
}

.page_img {
	position:relative;
	display:block;
	/*width:210px;
	height:210px;*/
	overflow:hidden;

	background:#933;

	border:2px solid #45312b;

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	float:left;
	margin-bottom:20px;
	margin-right:20px;
}

.description {
	position:relative;
	/*margin-left:230px;*/
	margin-bottom:20px;
}
.description h1, .dttl {
	font-family: 'PT Serif', serif;
	font-size:28pt;
	line-height:28pt;
	font-weight:400;

	color:#f6dfc4;

	margin-bottom:20px;
}
.dttl {
	text-decoration:underline;
}
.dttl:hover {
	text-decoration:none;
	color:#fff;
}

.page_content {
	position:relative;
	clear:both;
	margin-top:20px;
	text-align:justify;
	word-wrap:break-word;
}

.page_list_wrapper {
	max-width:800px;
	margin:0 auto 0 auto;
	overflow:hidden;

	border-bottom:1px dotted #e9cba7;

	margin-bottom:10px;
}


.menu_cat {
	position:relative;
	display:block;
	width:100%;
	height:61px;
	margin-bottom:10px;

	overflow:hidden;
}

.menu_cat_title {
	position:relative;
	display:block;
	width:60%;
	min-width:410px;

	margin:0 auto;

	z-index:1;
}

.mcl {
	position:relative;
	display:block;
	width:15px;
	height:44px;

	float:left;

	background:url(../img/mcat-l.png) no-repeat;
}
.mcr {
	position:relative;
	display:block;
	width:15px;
	height:44px;

	float:right;

	background:url(../img/mcat-r.png) no-repeat;
}
.mctt {
	position:relative;
	margin:0 15px;
	height:44px;

	text-align:center;
	font-family: 'PT Serif', serif;
	color:#45312b;

	line-height:44px;
	font-size:22px;

	background:url(../img/mcat.png) repeat-x;
}
.mctt a {
	font-family: 'PT Serif', serif;
	color:#45312b;
	text-decoration:none;
}
.mctt a:hover {
	text-decoration:underline;
}
.mshade {
	position:relative;
	display:block;
	width:100%;
	height:17px;

	background:url(../img/sh.png) no-repeat top center;
}

.cat_wrapper {
	position:relative;
	display:block;
	width:100%;

	height:0;

	border:1px solid #45312b;

	border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;

	overflow:hidden;
	top:-40px;

	background:rgba(69, 49, 43, 0.6);

	margin-bottom:20px;
}

.cat_content {
	position:relative;
	display:block;
	margin:60px 20px 40px 20px;
	overflow:hidden;
}

.bludo {
	position:relative;
	max-width:900px;
	margin:0 auto 30px auto;
	overflow:hidden;

	border-bottom:1px dotted #e9cba7;
	padding-bottom:10px;
}

.bludo_img {
	position:relative;
	display:block;
	width:305px;
	height:200px;
	float:left;

	background:#933;

	border:1px solid #e9cba7;

	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	overflow:hidden;
}

.bludo_txt {
	position:relative;
	margin-left:325px;
}

.bludo_title {
	font-family: 'PT Serif', serif;
	color:#e9cba7;
	font-size:32px;
	line-height:34px;
	margin-bottom:15px;
}

.bludo_dop {
	position:relative;
	display:block;
	margin-top:20px;
	margin-left:325px;
}

.bl_cena {
	position:relative;
	float:left;

	font-family:Helvetica, sans-serif;

	color:#e9cba7;
	font-size:16px;
}

.bsm {
	font-family: 'PT Serif', serif;
	font-size:38px;
	line-height:38px;
	padding:0 20px;

	background:#45312b;
	color:#ff9b86;

	border-radius:30px;
	-o-border-radius:30px;
	-ms-border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
}

.z_btn {
	position:relative;
	float:right;

	font-size:16px;
	text-align:center;
	padding:5px 20px;

	background:#45312b;

	border:1px solid #e9cba7;

	border-radius:30px;
	-o-border-radius:30px;
	-ms-border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;

	cursor:pointer;
}
.z_btn:hover {
	text-decoration:underline;

	color:#000;

	background:-moz-linear-gradient(top, #45312b, #cca77a);
	background:-webkit-linear-gradient(top, #45312b, #cca77a);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#45312b',endColorstr='#cca77a',GradientType=90); zoom: 1;
	background:linear-gradient(top, #45312b, #cca77a);
}


.tur_btn {
	position:absolute;
	display:block;
	width:150px;
	height:66px;

	background:url(../img/3dbutton_mini.png) no-repeat;
	background-position:center top;
}
.tur_btn:hover {
	background-position:center bottom;
}






.vrprig {
	position:absolute;
	top:5px;
	right:5px;
	width:150px;

	text-align:center;

	color:#e9cba7;

	font-size:12px;
}
