.alert {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate3d(-50%,0,0);
  padding: 20px;
  background-color: #f44336;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  z-index: 1000;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
