.dish-buttons {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
}

.dish-buttons div:first-child {
  margin-right: 1rem;
}

.bludo {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  border-bottom: 1px dotted #e9cba7;
  padding-bottom: 10px;
}

.bludo_img {
  position: relative;
  display: block;
  width: 305px;
  height: 200px;
  float: left;
  background: #933;
  border: 1px solid #e9cba7;
  border-radius: 5px;
  overflow: hidden;
}

.bludo_txt {
  position: relative;
  margin-left: 325px;
}

.bludo_title {
  font-family: 'PT Serif', serif;
  color: #e9cba7;
  font-size: 32px;
  line-height: 34px;
  margin-bottom: 15px;
}

.bludo_dop {
  position: relative;
  display: block;
  margin-top: 20px;
  margin-left: 325px;
}

.bl_cena {
  position: relative;
  float: left;
  font-family: Helvetica, sans-serif;
  color: #e9cba7;
  font-size: 16px;
}

.bsm {
  font-family: 'PT Serif', serif;
  font-size: 38px;
  line-height: 38px;
  padding: 0 20px;
  background: #45312b;
  color: #ff9b86;
  border-radius: 30px;
}

.z_btn {
  position: relative;
  float: right;
  font-size: 16px;
  text-align: center;
  padding: 5px 20px;
  background: #45312b;
  border: 1px solid #e9cba7;
  border-radius: 30px;
  cursor: pointer;
}

.z_btn:hover {
  text-decoration: underline;
  color: #000;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#45312b', endColorstr='#cca77a', GradientType=90);
  zoom: 1;
  background: linear-gradient(to bottom, #45312b, #cca77a);
}

@media screen and (max-width: 800px) {
  .bl_cena {
    position: relative;
    float: none;
    font-family: Helvetica, sans-serif;
    color: #e9cba7;
    font-size: 16px;
  }
  .z_btn {
    float: none;
    margin-top: 10px;
  }
}

@media screen and (max-width: 400px) {
  .bludo_txt {
    position: relative;
    margin-left: 0;
  }
  .bludo_dop {
    position: relative;
    display: block;
    margin-top: 20px;
    margin-left: 0;
  }
  .bludo_img {
    width: 270px;
    height: 150px;
  }
}
