.mainmenu {
  position: absolute;
  width: 100%;
  top: 35px;
  /*overflow:hidden;*/
  background: #45312b;
  border: 1px solid #45312b;
  box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.6);
  z-index: 3;
}

.menubody {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1280px;
  min-width: 1100px;
  margin: 0 auto;
  /*overflow:hidden;*/
  overflow: visible;
}

#menu-btn {
  position: absolute;
  display: none;
  width: 40px;
  height: 40px;
  overflow: hidden;
  right: -40px;
  top: 0;
}

#menu-btn div {
  position: absolute;
  display: block;
  background: #f0d8be;
  width: 36px;
  height: 4px;
  width: 36px;
  left: 2px;
  border-radius: 2px;
}

#mn1 {
  top: 7px;
}

#mn2 {
  top: 50%;
  margin-top: -2px;
}

#mn3 {
  bottom: 7px;
}

ul.mmenu {
  position: relative;
  display: block;
  text-align: center;
  margin: 0 auto;
  height: 40px;
  overflow: visible;
  list-style: none;
}

ul.mmenu li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  height: 40px;
  overflow: visible;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
}

ul.mmenu li:hover {
  background: #45312b;
  border-left: 1px solid #f0d8be;
  border-right: 1px solid #f0d8be;
}

ul.mmenu li a {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 23px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #f0d8be;
  text-shadow: -1px -1px 0 #563e31;
  display: block;
  padding: 0 5px;
  height: 40px;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
}

/*ul.mmenu li a:hover {
  background:#45312b;
		border-left:1px solid #f0d8be;
		border-right:1px solid #f0d8be;
}*/

ul.sub {
  display: block;
  position: absolute;
  padding: 10px;
  list-style: none;
  margin-left: -1px;
  background: #45312b;
  border-bottom: 1px solid #f0d8be;
  border-left: 1px solid #f0d8be;
  border-right: 1px solid #f0d8be;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
  10% {
    display: none;
  }
}

ul.sub li {
  display: block;
  text-align: left;
  white-space: nowrap;
  height: auto;
  padding: 0;
}

ul.sub li:hover {
  background: #45312b;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
}

ul.sub li a {
  font-size: 20px;
}

ul.sub li a:hover {
  border-bottom: 2px solid #f0d8be;
  color: #FFF;
}

@media screen and (max-width: 1023px) {
  .fade-out {
    visibility: visible;
    opacity: 1;
  }

  .mainmenu {
    top: 0px;
    background: #45312b;
  }
  .menubody {
    min-width: 300px;
    height: 40px;
  }
  #menu-btn {
    display: block;
  }
  ul.mmenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: left;
    height: auto;
    width: 260px;
    overflow: visible;
    left: -300px;
    padding: 40px 20px;
    background: #796659;
    border-radius: 5px;
  }
  ul.mmenu li {
    position: relative;
    height: auto;
    overflow: hidden;
  }
  /*ul.mmenu li:hover {}*/
  ul.sub {
    display: block;
    position: relative;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: none;
  }
}
