#order-details {
  padding: 50px;
  position: relative;
  display: flex;
}

#order-left-side {
  padding: 30px;
  display: flex;
  flex-direction: column;
  background: rgba(69, 49, 43, 0.6);
  border: 1px solid #45312b;
  border-radius: 10px;
}

#order-left-side > h2 {
  margin-bottom: 25px;
}

.form-group {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  position: relative;
}

.form-label {
  color: #afafaf;
  font-weight: normal;
  min-width: 30%;
  cursor: default;
  margin-top: 10px;
}

.form-label > i::after {
  content: " *";
  color: red;
}

.form-input {
  border-radius: 4px;
  color: #333;
  border: solid 1px #cdcdcd;
  display: inline-block;
  height: 24px;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #fff;
}
