.h_title_right {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASAAAAABCAYAAAB+BHOnAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDoAABSCAABFVgAADqXAAAXb9daH5AAAABaSURBVHjazJMxDgAgCAPrE/3/Y87B1QgFB9mgBZoShqSpfwITJ+g94ZgcAi0k9FS4t76sDzyoRVyafnd3VrRU79CZUfHKmefkJP7O+QFHwy4CkrQAAAD//wMA8yBT/8pocrIAAAAASUVORK5CYII=') left top repeat-y;
}

.h_title_left {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASAAAAABCAYAAAB+BHOnAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDoAABSCAABFVgAADqXAAAXb9daH5AAAABFSURBVHjaYvz//z8DGmBkwA5wiRMjT6ocqW5gJFOMkYZmUWo/NdxPqX2UyNObT6rf6RmnhNxGihpK0+2gAgAAAAD//wMA/RIDNTJsaOgAAAAASUVORK5CYII=') right top repeat-y;
}

@media screen and (max-width: 800px) {
  .h_title_right {
    background: none;
  }
  
  .h_title_left {
    background: none;
  }
}  