.room_gallery {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.gallery_title {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 3px 0;
  margin-bottom: 10px;
  background: rgba(69, 49, 43, 0.7);
  clear: both;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  line-height: 26px;
  color: #f6dfc4;
  text-align: center;
  border-radius: 5px;
}

.gal_img {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 122px;
  height: 122px;
  margin: 10px;
  background: #933;
  border: 2px solid #45312b;
  border-radius: 5px;
  overflow: hidden;
}

.gal_img:hover {
	border: 2px solid #f6dfc4;
}
