.part {
  position: relative;
  display: block;
  min-height: 800px;
  width: 50%;
  overflow: hidden;
  float: left;
}

.logo {
  position: absolute;
  display: block;
  width: 480px;
  height: 430px;
  margin-left: 50%;
  left: -240px;
  top: 290px;
  margin-top: -215px;
}

@media screen and (max-width: 800px) {
  .logo {
    margin-top: 0;
    top: 0;
  }
  .part {
    width: 100%
  }
}
