#tab-sheet {
  margin: 0 auto;
  position: relative;
  min-height: 500px;
}

section {
  display: none;
  padding: 20px 0 0;
  border: 1px solid #45312b;
  box-shadow: 0 20px 28px rgba(0,0,0,0.55), 0 10px 10px rgba(0,0,0,0.22);
}

input[type = "radio"] {
  display: none;
}

#tab-sheet > label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #888;
  border: 1px solid transparent;
  background: rgba(69, 49, 43, 0.6);
}

#tab-sheet > label:hover {
  color: #aaa;
  cursor: pointer;
}

#tab-sheet > input:checked + label {
  color: #f6dfc4;
  border: 1px solid #45312b;
  border-bottom: 1px solid transparent;
  border-top: 2px solid orange;
}

#SIGN_IN_TAB:checked ~ #sign-in-content,
#SIGN_UP_TAB:checked ~ #sign-up-content {
  display: block;
}
